go 1.22.3

use (
	./Day1-Historian-Hysteria
	./Day2-Red-Nosed-reports
	./Day3-Mull-It-Over
	./day4-Ceres-Search
	./day5-Print-Queue
	./day6-Guard-Gallivant
	./day7-Bridge-Repair
	./day8-Resonant-Collinearity
	./day9-Disk-Fragmenter
)
